.image_prod {
	width: 50px;
	height: 50px;
}
.message.success {
    background-color: #abe7ed;
    border-color: #abe7ed;
    color: #27a4b0;
    margin-bottom: 20px;
    padding: 15px;
}
.message.error {
	background-color:#fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
    margin-bottom: 20px;
    padding: 15px;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo>a {
    display: none;
}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a {
	text-decoration: none;
}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a b {
	color: #fff;
	font-size: 25px;
	margin-top: 6px;
	display: block;
}
.portlet.box.green>.portlet-title>.actions .btn-default>i {
	color: #fff;
}
.portlet.box.green>.portlet-title>.actions .btn-default {
	border: 1px solid #FFF;
	color: #fff;
}
.portlet-body.listing table thead {
	background-color: #32c5d2;
}
.portlet-body.listing table thead th,
.portlet-body.listing table thead th a {
	color: #fff;
	text-decoration: none;
}
.portlet-body.listing div input,
.portlet-body.listing div .btn-success,
.portlet-body.listing div select {
    margin-bottom: 25px;
}
.portlet-body.listing div .btn-success {
	margin-right: 15px;
}
.portlet-body.editing .fa-times {
	cursor: pointer;
}
.customeditbtn, .customeditbtn:hover {
	background-color: #687b7c !important;
    border-color: #687b7c !important;
    border-radius: 3px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.customdeletebtn,.customdeletebtn:hover {
	background-color: #e7505a !important;
    border-color: #e7505a !important;
    border-radius: 3px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.customviewbtn,.customviewbtn:hover{
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    border-radius: 3px !important;
    box-shadow: 0px 3px 1px #888888 !important;
}
.customsearchbtn,.customsearchbtn:hover{
	background-color: #67809F !important;
    border-color: #67809F !important;
    border-radius: 3px !important;
    box-shadow: 0px 1px 1px #888888 !important;
}
.customresetbtn, .customresetbtn:hover, .edit-btn {
    background-color: #FF6666 !important;
    border-color: #FF6666 !important;
    border-radius: 3px !important;
    box-shadow: 0px 1px 1px #888888 !important;
}
.customaddbtn, .customaddbtn:hover {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    border-radius: 3px !important;
    box-shadow: 0px 1px 1px #888888 !important;
}
.customsavebtn,.customsavebtn:hover{
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    border-radius: 3px !important;
    box-shadow: 0px 1px 1px #888888 !important;
}
.custombackbtn, .custombackbtn:hover {
    background-color: #FF6666 !important;
    border-color: #FF6666 !important;
    border-radius: 3px !important;
    box-shadow: 0px 1px 1px #888888 !important;
}
#driver thead tr th{
    text-align: center !important;
    font-size:13.5px !important;
}
#driver tbody tr td{
    text-align: center !important;
    font-size:13px !important;
}
#driver-reg thead tr th,#driver-order thead tr th,#driver-cod thead tr th{
    text-align: center !important;
    font-size:13.5px !important;
}
#driver-reg tbody tr td,#driver-order tbody tr td,#driver-cod tbody tr td{
    text-align: center !important;
    font-size:13px !important;
}
.fa-angle-down:before {
    content: "\f107" !important;
}
.select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa !important;
    border-radius: 4px;
}
.select2-selection__rendered {
    margin-top: 3px;
}
.modal .modal-header .close {
    text-indent: 0;
}
.help-block {
    color: #ff0000;
    margin-top: 0!important;
    margin-bottom: 0!important;
    text-align: left;
}
.export-csv.pull-right {
    margin-top: 5px;
}
