@font-face {
    font-family: opensans-regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: opensans-Light;
    src: url("../fonts/OpenSans-Light.ttf");
}
.page-logo{
	background-color: #1CAF9A;
	height: 88px !important;
}
.logo-default {
    margin: 16px 16px 0 !important;
}
.page-sidebar .page-sidebar-menu>li>a{
	/*font:opensans regular 17px #fff !important;*/
	/*font-family: opensans  !important;*/
	font-style: regular !important;
	font-size: 17px !important;
	color :#fff !important;
}
.menu-toggler.sidebar-toggler {
	background-color: white;
	margin:25px 0 0 !important;
}
.page-sidebar-menu>li>a {
	border-bottom: 1px solid #4E6280 !important;
	padding: 15px 15px !important;
}
#progression {
	margin-top:20px;
}
.page-content-wrapper .page-content {
	margin-top:28px !important;

}
.page-sidebar .page-sidebar-menu>li:last-child>a{
	border-bottom: 1px solid #4E6280 !important;
}
.page-content-white .page-title {
    margin: 10px 0px !important;
    font-size: 16px !important;
    color: #000 !important;
}
.dashboard-stat .yellow {
	background-color: #FF8A00 !important;
}
.row {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.filder_icon p {
	cursor: pointer;
	background-color:#0B8977 !important;
	margin-top:8px !important;
	margin-bottom:0px !important;
	float: right;
    background-color: red;    
    padding: 6px 12px;
}
.filter {
	font-family: opensans-regular;
	background-color: #F2F1F1;
	font-size: 13px !important;
	color:#000 !important;
}
.filter p,.filter_form div p, {
	font-family: opensans-Light;
	font-size: 13px !important;
	color:#000 !important;
}
.filter_form p, .filter p {
	margin:8px 0px;
}
.filter_form{
	font-family: opensans-Light;
	background-color:#FAF9F9;
}
.search {
	font-family: opensans-Light;
	float:right;
	color:#ffffff;
	background-color: #0B8977;
	font-size: 14px;
	width: 100px;
}
.export {
	font-family: opensans-Light;
	float:left;
	color:#ffffff;
	background-color: #0B8977;
	font-size: 14px;
	width: 100px;
}

#after_filter{
	margin-top: 30px !important;	
}
.form-group {
    margin-bottom: 5px !important;
}
#srch {
	float:right;
}
@media (min-width:480px) and (max-width:766px) {
	#srch {
		float:left;
	}
	#export {
		float:right;
	}
}


/*developer*/
.dashboard-stat{
	border-radius: 5px !important; 
}

.gobut{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0px 12px !important;
    font-size: 14px;
}
.trendreport{
	background-color: #0b8977 !important;
}
.trend{
	border: 1px solid #0b8977 !important;
    border-top: 0;
}